@media screen {
  /* Layout */
  .net-footer,
  .content .net-header + h1:not(.section-title),
    /* Global */
  .title-location p {
    background: #789CB1;
  }

  /* Slides */
  a, a:visited {
    color: #789CB1;
  }
}

@media print {
  /* Global */
  .title-cover,
    /* Layout */
  .subsection .net-header + h1:not(.section-title),
  .subsectionnonum .net-header + h1:not(.section-title) {
    background: #789CB1;
  }

  /* Slides */
  a, a:visited {
    color: #789CB1;
  }
}
